/**
 * index.scss
 * - Add any styles you want here!
 */

body {
  background: #f5f5f5;
}
.page1 {
  text-align:center;
  color:blue;
}
.tablecolor {
  color:yellow;
}
.color {
  border-color: red;
  text-align:center;
}
.text {
  text-align: center;
}
.text2 {
  color:white;
}
.buttonlight {
    display:inline-block;
    float:right;
    height:38px;
    margin:0;
    max-width:984px;
    overflow:hidden;
    padding:0;
    position:relative;
    text-indent:0;
    vertical-align:middle;
    white-space:nowrap;
    width:auto;
    z-index:0;
}
@media screen and (max-width: 768px) {
  .color {
    text-align: center;
    width: 100%;
    border: red;
  }
}
@media screen and (min-width: 768px) {
  .color {
    text-align: center;
    width: 50%;
    border: red;
  }
}
body {
	background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
	background-size: 400% 400%;
	animation: gradient 15s ease infinite;
}

@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}
